
<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Departments</title>
</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/url}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
    <a th:href="@{/{id}/departments/newDepartment(id=${id})}">
        <button class="btn btn-primary" type="button">Create</button>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>doctors</th>
            <th>update</th>
            <th>delete</th>
        </tr>
        </thead>
        <body>
        <tr th:each="department : ${departments}">
            <td th:text="${department.name}"></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>

        </body>

    </table>

</div>

</body>
</html>