<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="form-container">
<form th:action="@{/departments/{id}/{departmentId}/update(id=${hospitalId}, departmentId=${departmentId})}" th:object="${department}" th:method="POST">

<!--    <form  th:action="@{{id}/departments/{id}/update(Id=${id})}" th:object="${department}" th:method="patch">-->
    <label for="name"> Name: </label>
        <input type="text" th:field="*{name}" id="name" name="name " />
<button type="submit">Update</button>
</form>
</div>
</body>
</html>