<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <style>
        body{
            background-image: url("https://www.okino.ua/media/var/news/2020/03/30/Greys_Anatomy.jpg");
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">

</head>
<body>
<div class="wrapper-btn">
    <a th:href="@{/hospitals}">
        <button class="btn btn-primary" type="button">back</button>
    </a>
        <a th:href="@{/doctors/new/{id}(id=${hospitalId})}">
            <button class="btn-outline-primary" type="button">Add</button>
        </a>
    </a>
</div>
<div class="container mt-3">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Position</th>
            <th>Hospital</th>
            <th>Departments</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.id}"></td>
            <td th:text="${doctor.firstName}"></td>
            <td th:text="${doctor.lastName}"></td>
            <td th:text="${doctor.position}"></td>
            <td th:text="${doctor.hospital.name}"></td>
            <td>
                <a th:href="@{/doctors/{hospitalId}/{doctorId}/departments(hospitalId=${hospitalId}, doctorId=${doctor.getId()})}">
                    <input type="submit" class="btn btn-outline-primary" th:value="  Departments  "/>
                </a>
            </td>
            <td>
                <a th:method="patch" th:href="@{/doctors/edit/{doctorId}(doctorId=${doctor.getId()})}">
                    <input type="submit" class="btn btn-outline-primary" th:value="  Edit  "/>
                </a>
            </td>
            <td>
                <form th:method="get" th:action="@{/doctors/delete/{doctorId}(doctorId=${doctor.id})}">
                    <input type="submit" class="btn btn-outline-primary" th:value="  Delete  "/>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>





