<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Doctor</title>
</head>
<body>

<form  th:action="@{/doctors/{hospitalId}/{doctorId}/update (hospitalId=${hospitalId},doctorId=${doctor.id})}" th:object="${doctor}" th:method="POST">
    <label for="firstname">First name: </label>
    <input type="text" th:field="*{firstName}" id="firstname"/>
    <br/>
    <label for="lastname">Last name: </label>
    <input type="text" th:field="*{lastName}" id="lastname"/>
    <br/>
    <label for="position">Position: </label>
    <input type="text" th:field="*{position}" id="position"/>
    <br/>
    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <input type="submit" value="Update "/>
</form>

</body>
</html>